body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-nav {
    overflow: hidden;
    background-color: crimson;
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: whitesmoke;
    color: black;
}

.top-nav a.active {
    background-color: darkgoldenrod;
    color: white;
}