body {
    margin: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.top-nav {
    overflow: hidden;
    background-color: crimson;
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: whitesmoke;
    color: black;
}

.top-nav a.active {
    background-color: darkgoldenrod;
    color: white;
}

* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

img {
    vertical-align: middle;
    border-radius: 15px;
}

/* hides the images by default */
.slides {
    display: none;
}

/* next and previous buttons */
.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* positions the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover, it will add a black background color with a little but of see through */
.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* the dots in the slides */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}

@media only screen and (max-width: 300px) {
    .previous, .next {font-size: 11px;}
}

/* creates multiple columns in the home/main page */
.history {
    column-count: 3;
    column-gap: 40px;
}