<!DOCTYPE html>
<html>

<head>
    <title> Total failure! </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/comic-icon-png-2.png">
</head>

<body>
    <h1>You cannot add a favorite until you log in!<h1>
    
    <div>
        <img src="static/thanos2.png" width="1000px" height="600px">
        <br></br>
        <div>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
</body>

</html>
