<!DOCTYPE html>
<html>

<head>
    <title> Victory! </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/comic-icon-png-2.png">
</head>

<body>
    <div class="top-nav">
        <a class="active" href="/"> Home </a>
        <a href="/search"> Search </a>
        {% if current_user.username%}
        <a href="/logout"> Logout </a>
        <a href="/profile"> Profile </a>
        {% else %}
        <a href="/login"> Log In </a>
        {% endif %}
        <a href='/about'> About us </a>
    </div>
    <h1>Favorite Successfully added<h1>
    
    <div>
        <img src="static/thanos2.png" width="1000px" height="600px">
    </div>
</body>

</html>
