<!DOCTYPE html>
<html>

<head>
    <title> Explore Comics </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/comic-icon-png-2.png">

    <script>
        var slide_index = 1;
        showSlide(slide_index);

        function plusSlides(n) {
            showSlide(slide_index += n);
        }

        function currentSlide(n) {
            showSlide(slide_index = n);
        }

        function showSlide(n) {
            var i;
            var slides = document.getElementsByClassName("slides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slide_index = 1;
            }
            if (n < 1) {
                slide_index = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slide_index - 1].style.display = "block";
            dots[slide_index - 1].className += " active";
        }
    </script>
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashe>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="top-nav">
        <a class="active" href="/"> Home </a>
        <a href="/search"> Search </a>
        {% if current_user.username%}
        <a href="/logout"> Logout </a>
        <a href="/profile"> Profile </a>
        {% else %}
        <a href="/login"> Log In </a>
        {% endif %}
        <a href='/about'> About us </a>
    </div>

    <div style="padding-left: 16px;">
        <h1> Are You Ready to Explore the Marvel Universe?! </h1>
    </div>
    <br>

    <div class="slideshow-container">
        <!-- instead of different img tags, we can just call an api call that is saved into a variable and access it here -->
        <div class="slides fade">
            <img src="/static/marvel.jpg" width="800" height="500" style="width: 100%;">
        </div>

        <div class="slides fade">
            <img src="/static/avengers.jpg" width="800" height="500" style="width: 100%;">
        </div>

        <div class="slides fade">
            <img src="/static/avengers-workout.jpg" width="800" height="500" style="width: 100%;">
        </div>

        <!-- next and previous buttons -->
        <a class="previous" onclick="plusSlides(-1)">&#10094</a>
        <a class="next" onclick="plusSlides(1)">&#10095</a>
    </div>
    <br>

    <!-- the dots/circles -->
    <div style="text-align: center;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <br><br>
    <h2 style="padding-left: 16px;"><b> The History </b></h2>
    <div class="history" style="padding-left: 16px; padding-bottom: 16px;">
        <p>
            The history of Marvel started in 1939 by Martin Goodman undernaeth a number of imprints, which is known as
            Timely Comics. Timely's first publication, <i>Marvel Comics #1</i>, included the first superhero the
            <b>Human Torch</b>. After a while,
            Timely changed its name to Atlas Comics in 1951, and eventually became Marvel Comics in the early 1960s.
            Atlas Comics expanded into a wider
            variety of genres, featuring horror, Westerns, humor, crime, war comics, etc..
            In 1961, Stan Lee revolutionized superhero comics by introducing superheroes designed to appeal to an older
            audience than the predominantly
            child audiences of the medium, which what Marvel later called the <b>Marvel Age of Comics</b>. The company
            launched <i>The Fantastic Four</i> and other
            comics that was created by Stan Lee, Jack Kirby, Steve Dikto and many others. Following <i>The Fantastic
                Four</i>, Marvel comics developed a reputation for
            focusing on characterization and adult issues to a greater extent.
        </p>
    </div>
    <br><br>
    <div style="padding-left: 16px; padding-bottom: 16px;">
        <h2> Want to Test Your Knowledge? </h2>
        <h4> If so, click the button below to get started!</h4>
        <button> <a href="/quiz"> Quiz </a></button>
    </div>
</body>

</html>